@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Sofia+Sans:wght@600&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    background-color: hsl(44, 78%, 67%);
}

.life-camp {
    max-width: 400px;
    margin: 0 auto;
}

.abuja-road {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    margin: 0px 20px;
    gap: 20px;
    border-right: solid 5px;
    border-bottom: solid 7px;
    border-top: solid 1px;
    border-left: solid 1px;
}

.image-svg img {
    border-radius: 10px;
    width: 320px;
}

.la-la-land {
    align-self: flex-start;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background: hsl(49, 95%, 43%);
    color: #000;
}

.farmer-abj {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.farmer-abj h3{
    font-size: 14px;
   
}

.farmer-abj h4{
    font-size: 20px;
    font-weight: bold;
}
.footer-one {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-one-image {
    border-radius: 50px;
    width: 30px;
}

.attribution{
    margin: 20px 10px;
}
